* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(0, 174, 255);
}

#header {
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1px;
}

.topnav {
    overflow: hidden;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
  }
  
  .active {
    border: 1px solid rgb(3, 4, 94);
    padding: 10px;
    color: rgb(3, 4, 94) !important;
    margin: 10px;
    margin-left: 50px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 13px;
    letter-spacing: 1px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: rgb(3, 4, 94);
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .left {
    float: right;
    margin-right: 30px;
    }

    #buy-now {
        background-color: rgb(255, 174, 0);
        border-radius: 25px;
    }

  @media screen and (max-width: 765px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 765px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
 .first-main {
     background-color: rgb(234, 236, 243);
     height: 100vh;
     box-sizing: border-box;
     margin: 0;
     position: absolute;
     left: 0px;
     top: 0px;
     width: 50vw;
     clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
 }

 .product-container{
    width: 100vw;
}

#wrapper {
width: 80vw;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: relative;
top: 50px;
left: 150px;
}

#product {
margin: 20px;
}

#product p {
    width: 30vw;
}

#product #productbtn {
color: rgb(255, 255, 255);
background-color: rgb(0, 174, 255);
padding: 8px;
border-radius: 20px;
border: none;
cursor: pointer;
}

#product-img img {
height: 450px;
}

@media screen and (max-width: 765px) {
    header {
        background-color: rgb(0, 174, 255);
        box-shadow:2px 2px 12px #010408;
    }

    body {
        background-color: rgb(234, 236, 243);
    }

    .first-main {
        background-color: rgb(234, 236, 243, 0);
    }

    #wrapper {
        flex-direction: column;
        justify-content: center;
        margin-left: -100px;
        text-align: center;
        max-width: 600px;
    }

    #product {
        max-width: 500px;

    }
    #product p {
        width: auto;
    }

}